
project/.idea/misc.xml

project/js/accessData.js

project/.idea/workspace.xml

project/.idea/vcs.xml

project/js/accessData.js

project/.idea/project.iml

project/js/accessData.js

project/.idea/modules.xml
