body {
    padding: 0;
    margin: 0;
}
html, body, #map, .row-fluid{
    height: 100%;
}

#infoPanel {
    text-align: center;
}

#smallChartButton, #exportCloseButton {
    display: none;
}

#plainData {
    margin-top: 20px;
}

.table {
    text-align: left!important;
    word-wrap: normal;
}

.capitalize {
    text-transform:capitalize;
}

#compareData {
    display: none;
}