html, body, #map, .row-fluid{
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

#smallChartButton, #exportCloseButton {
    display: none;
}

#infoPanel {
    text-align: center;
    display: block;
    overflow: scroll;
}

#plainData {
    margin-top: 20px;
    max-height: 500px;
}

.table {
    text-align: left!important;
    word-wrap: break-word;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    max-height: 200px;
    overflow-y: auto;
}

tbody td, thead th {
    width: 50%;
    height: inherit;
    float: left;
}

.capitalize {
    text-transform:capitalize;
}

#singleArea {
    display: block;
}

#multipleArea {
    display: block;
}

.dropdown {
    text-align: left;
}

.lis {
    height: 30px;
    padding: 5px;
}

.lis:hover {
    background-color: lightgrey;
}